[submodule "Submodules/Pane"]
	path = Submodules/Pane
	url = git@github.com:jwintz/Pane.git
[submodule "Submodules/mksh"]
	path = Submodules/mksh
	url = https://github.com/MirBSD/mksh.git
[submodule "Submodules/SwiftTerm"]
	path = Submodules/SwiftTerm
	url = https://github.com/migueldeicaza/SwiftTerm.git
